body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    margin: 0;
    padding: 0;
    width: 100vw;
    height:100vh;
}

/* ---------------------Header--------------------------- */
#header {
    display: flex;
    justify-content: space-between;
align-items: center;
    grid-row-start: 0;
    grid-row-end: 2;
}

#logo {
    color: #458f7a;
    font-size: 30px;
    width: 20%;
    margin-left: 10%;
}

#menu {
    display: flex;
    margin-right: 5%;
    gap: 50px;
}

a {
    text-decoration: none;
    color: black;
}

/* ---------------------Main--------------------------- */
h1{
color:white;
font-size:40px;
text-align: center;
}
h2{
    color:white;
    font-size:20px;
    text-align: center;
}
#main {
    
    height: 100%;
    width:100%;
    background-image: url('./images/background.jpg');
    background-size: cover;
    grid-row-start: 2;
    grid-row-end: 13;
}

#container{ 
    
    display: flex;
    flex-direction: inline;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    gap:50px
}

#zoneDeRecherche, #zoneDeReponse{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:10px;
    background-color: aliceblue;
    border-radius: 5px;
    width: 400px;
    height:500px;
    text-align: center;
    overflow: auto
}
#blockDepartArrival{
    display: flex;
    flex-direction: column;
}
#blockDepartArrival #departureZ, #arrivalZ, #dateZ, #search{
    font-size: 15px;
    text-align: center;
    border: none;
    margin-left: 20%;
    margin-right: 20%;
}
#departure, #arrival, #date{
    background-color: rgb(216, 205, 205);  
}
#departure{
    border-bottom: 1px solid black;
}
#search{
    background-color:#458f7a ;
    color: white;
}

/* ////////affichage trajet///////// */
.trajet{
    display: flex;
    justify-content: space-around; 
    background-color: rgb(216, 205, 205);
    padding:5px; 
     margin-left: 5%;
    margin-right: 5%;
    margin-top:5%;
    border-radius: 3px;
}
.book{
    background-color: #458f7a;
    color: white;
    text-decoration: none;
    border: none;
}

